<nav style="width: 1400px; display: flex; justify-content: space-between;">
  <a routerLink="/chapters" class="h3 a-none">К списку глав</a>

  <a routerLink="/account" class="h3 a-none" style="text-decoration: none"
     *ngIf="userService.roleMatch(['USER','TEACHER','ADMIN'])"
  >Личный кабинет</a>

  <a routerLink="/requests" class="h3 a-none"
     *ngIf="userService.roleMatch(['TEACHER', 'ADMIN'])"
  >Проверка решений</a>

  <a routerLink="/studentsGroups" class="h3 a-none"
     *ngIf="userService.roleMatch(['TEACHER'])"
  >Студенты и группы</a>

  <a routerLink="/allStudentsGroups" class="h3 a-none"
     *ngIf="userService.roleMatch(['ADMIN'])"
  >Студенты и группы</a>

  <a routerLink="/teachers" class="h3 a-none"
     *ngIf="userService.roleMatch(['ADMIN'])"
  >Преподаватели</a>

  <a *ngIf="!isLoggedIn()" routerLink="/login" class="a-img icon-login"></a>
  <button *ngIf="isLoggedIn()" type="button" (click)="logout()" class="a-img icon-logout"></button>
</nav>




