<app-header></app-header>
<div class="div-main-body">
  <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
    <img src="../../../../assets/icons/book.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
    <h2 style="var(--c6);">Блок {{block?.chapter?.serialNumber}}. {{block?.serialNumber}}. {{block?.name}}</h2>
  </div>
  <h4 style="margin: 0">Создание новой задачи</h4>
  <p class="p4" style="margin: 20px 0 0 0;">Заполните информацию о новой задаче для данного блока</p>

  <div style="display: flex; flex-direction: row; margin: 20px 0 5px 0">
    <p class="p5" style="color: var(--c2); margin: 0">Порядковый номер задачи устанавливается автоматически для соблюдения порядка. Изменить нумерацию задач Вы можете&nbsp;</p>
    <a class="p5" style="color: var(--c2); text-decoration: revert;" routerLink="/chapter/{{block?.chapter?.serialNumber}}/block/{{block?.serialNumber}}/tasks/numbering">здесь</a>
  </div>
  <p class="p5" style="color: var(--c2); margin: 0 0 20px 0">Добавить условие задачи вы сможете после её создания.</p>

  <h5 *ngIf="(name.errors?.['required'] ||
            serialNumber.errors?.['required']) &&
            creatingTaskFormHasBeenSubmitted" class="error">
    Заполните все поля</h5>
  <h5 *ngIf="repeatedNameOfTask && creatingTaskFormHasBeenSubmitted" class="error">
    В блоке уже есть задача с таким названием</h5>

  <form [formGroup]="creatingTaskForm" (ngSubmit)="onSubmitCreatingTaskForm()" >
    <div class="d-row-form">
      <p class="p4 form-param">Номер задачи</p>
      <input formControlName="serialNumber" id="serialNumber" type="number" class="input-params p4 input-readonly" readonly>
    </div>
    <div class="d-row-form">
      <p class="p4 form-param">Название</p>
      <input formControlName="name" id="name" type="text" class="input-params p4">
    </div>

    <p class="p4" style="margin: 30px 0 20px 0;">Ниже Вы можете выбрать те задачи, которые необходимо решить перед тем как приступать к данной задаче</p>
    <app-checkbox-group-previous-tasks [simpleCollection]="simpleTaskCollection" (change)="onChangeSelectedPreviousTasks()">
    </app-checkbox-group-previous-tasks>
    <input type="submit" value="Создать задачу" class="i-submit h5" style="margin: 30px 0 30px 0; width: 200px">
  </form>
</div>
<app-footer></app-footer>
