<app-header></app-header>
<div class="div-main-body">
  <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
    <img src="../../../../assets/icons/pencil.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
    <h2 style="var(--c6);">Редактирование главы сборника</h2>
  </div>
  <p class="p3" style="margin: 0;">Вы редактируете: <b>Глава {{chapter?.serialNumber}}. {{chapter?.name}}</b></p>

  <div style="display: flex;; flex-direction: row; align-items: center; justify-content: start; margin: 20px 0 20px 0">
    <div class="d-white-button" style="width: 277px">
      <a routerLink="/chapters/numbering" class="a-img icon-pencil"></a>
      <a class="p5 a-none" style="color: var(--c6); margin: 0" routerLink="/chapters/numbering">Изменить нумерацию глав</a>
    </div>
  </div>

  <h5 *ngIf="(name.errors?.['required'] ||
            serialNumber.errors?.['required']) &&
            editingChapterFormHasBeenSubmitted" class="error">
    Заполните все поля</h5>
  <h5 *ngIf="repeatedNameOfChapter && editingChapterFormHasBeenSubmitted" class="error">
    В сборнике уже есть глава с таким названием</h5>

  <form [formGroup]="editingChapterForm" (ngSubmit)="onSubmitEditingChapterForm()" >
    <div class="d-row-form">
      <p class="p4 form-param">Номер главы</p>
      <input formControlName="serialNumber" id="serialNumber" type="number" class="input-params p4 input-readonly" readonly>
    </div>
    <div class="d-row-form">
      <p class="p4 form-param">Название</p>
      <input formControlName="name" id="name" type="text" class="input-params p4">
    </div>
    <input type="submit" value="Сохранить изменения" class="i-submit h5" style="margin: 30px 0 40px 0; width: 250px">
  </form>
</div>
<app-footer></app-footer>
