<div class="fixed-overlay">
  <div class="modal" style="width: 45%">
    <div class="modal_container" style="padding: 20px">
      <section style="margin: 15px 0 0 0; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h4 style="margin: 0 0 20px 0; text-align: center">{{info}}</h4>
        <button class="h5 d-violet-button" style="width: 100px; margin: 7px 0 7px 0" (click)="onClose()">
          ОК
        </button>
      </section>
    </div>
  </div>
</div>
