<app-header></app-header>
<div class="div-main-body">
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: end; margin: 25px 10px 20px 0">
    <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
      <img src="../../../../assets/icons/pencil.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
      <h2 style="color: var(--c6); margin:0">Блок {{serialNumberOfChapter}}. {{serialNumberOfBlock}}</h2>
    </div>
    <app-block-switcher [section]="'practice'" ></app-block-switcher>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: end;  margin: 5px 0 20px 0">
    <h3 style="color: var(--c6); margin: 0">{{blockName}}</h3>
    <div style="display: flex; justify-content: space-between; width: 420px; margin-right: 30px;">
      <div class="d-white-button to-section">
        <a routerLink="/chapter/{{serialNumberOfChapter}}/block/{{serialNumberOfBlock}}/theory" class="a-img icon-open-book"></a>
        <a routerLink="/chapter/{{serialNumberOfChapter}}/block/{{serialNumberOfBlock}}/theory" class="p4 a-none" style="color: var(--c6); margin: 0">К теории</a>
      </div>
      <div class="d-white-button to-blocks">
        <a routerLink="/chapter/{{serialNumberOfChapter}}" class="a-img icon-book"></a>
        <a routerLink="/chapter/{{serialNumberOfChapter}}" class="p4 a-none" style="color: var(--c6); margin: 0">К списку блоков</a>
      </div>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: start">
    <div *ngFor="let task of tasksOfBlock"
         class="d-task"
         [ngClass]="{
         'bc-clr-default' : task.status?.name === 'Не решена' || task.status === null,
         'bc-clr-returned-not-passed-tests' : task.status?.name === 'Не прошла тесты' || task.status?.name === 'Возвращена преподавателем',
         'bc-clr-consideration' : task.status?.name === 'На рассмотрении',
         'bc-clr-review' : task.status?.name === 'На проверке',
         'bc-clr-solved' : task.status?.name === 'Решена',
         'bc-clr-passed-tests' : task.status?.name === 'Прошла тесты',
         'bc-clr-on-testing' : task.status?.name === 'На тестировании'
         }"
         (click)="toTask(serialNumberOfChapter, serialNumberOfBlock, task.serialNumber)">
      <a  routerLink="/chapter/{{serialNumberOfChapter}}/block{{serialNumberOfBlock}}/task/{{task.serialNumber}}" class="h3 a-none" style="margin: 15px 0 10px 10px; ">
        Задача {{serialNumberOfChapter}}. {{serialNumberOfBlock}}. {{task.serialNumber}}
      </a>
      <h4 style="color: var(--c2); margin: 13px 0 0 10px;">{{task.name}}</h4>
      <p class="p4" style="color: var(--c6); margin: 13px 0 0 10px;">{{task.status?.name}}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
