<app-header></app-header>
<div class="div-main-body">
  <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
    <img *ngIf="user?.role === 'USER'" src="../../../../assets/icons/student.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
    <h2 *ngIf="user?.role === 'USER'" style="var(--c6);">Личный кабинет студента</h2>

    <img *ngIf="user?.role === 'TEACHER' || user?.role === 'ADMIN'" src="../../../../assets/icons/teacher.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
    <h2 *ngIf="user?.role === 'TEACHER'" style="var(--c6);">Личный кабинет преподавателя</h2>
    <h2 *ngIf="user?.role === 'ADMIN'" style="var(--c6);">Личный кабинет администратора</h2>
  </div>

  <div style="margin-left: 35px">
    <h5 *ngIf="(name.errors?.['required'] ||
          lastname.errors?.['required'] ||
          patronymic.errors?.['required'] ||
          username.errors?.['required']) &&
        hasBeenSubmitted" class="error">
      Заполните все поля</h5>
    <h5 *ngIf="username.errors?.['email'] && hasBeenSubmitted" class="error">
      Поле 'Электронная почта' заполнено неверно</h5>
    <h5 *ngIf="isRepeatedUsername" class="error">
      Пользователь с такой электронной почтой уже существует</h5>
  </div>
  <div style="display: flex; flex-direction: row; justify-content: space-between; width: 70%; margin-left: 35px">
    <form [formGroup]="personalDataForm" (ngSubmit)="onSubmit()" class="form-registration" style="display: flex; flex-direction: column">
      <div style="display:flex; flex-direction: column">
        <p class="p6" style="margin: 0 0 0 10px;">Фамилия</p>
        <input type="text"
               formControlName="lastname"
               id="lastname"
               placeholder="Фамилия"
               required
               class="input-params p4"
               style="padding: 12px; margin: 2px 0 15px 0;">
      </div>
      <div style="display:flex; flex-direction: column">
        <p class="p6" style="margin: 0 0 0 10px;">Имя</p>
        <input type="text"
               formControlName="name"
               id="name"
               placeholder="Имя"
               required
               class="input-params p4"
               style="padding: 12px; margin: 2px 0 15px 0;">
      </div>
      <div style="display:flex; flex-direction: column">
        <p class="p6" style="margin: 0 0 0 10px;">Отчество</p>
        <input type="text"
               formControlName="patronymic"
               id="patronymic"
               placeholder="Отчество"
               required
               class="input-params p4"
               style="padding: 12px; margin: 2px 0 15px 0;">
      </div>
      <div style="display:flex; flex-direction: column">
        <p class="p6" style="margin: 0 0 0 10px;">Почта</p>
        <input type="text"
               formControlName="username"
               id="username"
               placeholder="Электронная почта"
               required
               class="input-params p4"
               style="padding: 12px; margin: 2px 0 15px 0;">
      </div>

      <input type="submit" value="Сохранить" class="i-submit h5" style="width: 190px; margin: 10px 0 0 0">
    </form>
    <div *ngIf="user?.role === 'USER'" style="display: flex; flex-direction: column">
      <div style="display:flex; flex-direction: column">
        <p class="p6" style="margin: 0 0 0 10px;">Группа</p>
        <input type="text"
               readonly
               value="{{user?.group === null ? 'Без группы' : user?.group?.name}}"
               class="input-params p4"
               style="padding: 10px; margin: 2px 0 15px 0; border: 2px solid #e5e5f3; background: var(--c1); cursor: auto;">
      </div>
      <div style="display:flex; flex-direction: column">
        <p class="p6" style="margin: 0 0 0 10px;">Преподаватель</p>
        <input type="text"
               readonly
               value="{{teacher}}"
               class="input-params p4"
               style="padding: 10px; margin: 2px 0 15px 0; border: 2px solid #e5e5f3; background: var(--c1); cursor: auto;">
      </div>
    </div>
    <div *ngIf="user?.role === 'TEACHER'" style="display: flex; flex-direction: column">
      <div style="display:flex; flex-direction: column">
        <p class="p6" style="margin: 0 0 0 10px;">Администратор системы</p>
        <input type="text"
               readonly
               value="{{admin}}"
               class="input-params p4"
               style="padding: 10px; margin: 2px 0 15px 0; border: 2px solid #e5e5f3; background: var(--c1); cursor: auto;">
      </div>
    </div>
  </div>

  <div *ngIf="requestHistories != null" style="margin: 10px 0 0 30px;">
    <h2 style="var(--c6);">История</h2>
    <div>
      <p *ngIf="requestHistories.length === 0" class="h3" style="color: var(--c2); margin: 10px 0 0 0;" >
        История запросов пуста
      </p>
    </div>
    <div *ngFor="let history of requestHistories"  class="d-history" (click)="openModalWithInfo(history.id)">
      <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 10px">
        <a routerLink='/chapter/{{history.request.studentTask.task.block.chapter.serialNumber}}/block/{{history.request.studentTask.task.block.serialNumber}}/task/{{history.request.studentTask.task.serialNumber}}'
        class="h4 a-task-name">
          {{'Задача ' + history.request.studentTask.task.block.chapter.serialNumber + '. ' +
          history.request.studentTask.task.block.serialNumber + '. ' +
          history.request.studentTask.task.serialNumber + '. ' +
          history.request.studentTask.task.name}}
        </a>

        <p class="p4" style="color: #646464; margin: 0">{{history.timeToPrint}}</p>
      </div>
      <div>
        <p *ngIf="history.eventType.id == 1" class="p4" style="margin: 0">
          Вы отправили решение на рассмотрение преподавателю ({{history.request.teacher.lastname}} {{history.request.teacher.name.charAt(0)}}. {{history.request.teacher.patronymic.charAt(0)}}.).
        </p>
        <p *ngIf="history.eventType.id == 2" class="p4" style="margin: 0">
          Вы отправили решение на проверку преподавателю  ({{history.request.teacher.lastname}} {{history.request.teacher.name.charAt(0)}}. {{history.request.teacher.patronymic.charAt(0)}}.).
        </p>
        <p *ngIf="history.eventType.id == 3" class="p4" style="margin: 0">
          Преподаватель ({{history.request.teacher.lastname}} {{history.request.teacher.name.charAt(0)}}. {{history.request.teacher.patronymic.charAt(0)}}.) принял ваше решение.
        </p>
        <p *ngIf="history.eventType.id == 4" class="p4" style="margin: 0">
          Преподаватель ({{history.request.teacher.lastname}} {{history.request.teacher.name.charAt(0)}}. {{history.request.teacher.patronymic.charAt(0)}}.) отклонил ваше решение.
        </p>
        <p *ngIf="history.eventType.id == 5 && history.request.requestType.name == 'На рассмотрение'" class="p4" style="margin: 0">
          Вы отменили свой запрос на рассмотрение решения.
        </p>
        <p *ngIf="history.eventType.id == 5 && history.request.requestType.name == 'На проверку'" class="p4" style="margin: 0">
          Вы отменили свой запрос на проверку решения.
        </p>
      </div>
    </div>
    <button *ngIf="isPresentOtherHistories"
            (click)="loadHistories()"
            class="h5 d-violet-button" style="width: 200px; margin: 25px 0 25px 0;">
      Загрузить ещё
    </button>
  </div>

  <div *ngIf="showModal" class="fixed-overlay">
    <div class="modal" style="width: 50%">
      <div class="modal_container"
           style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <div style=" width: 100%">
          <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 10px;">
            <a routerLink='/chapter/{{historyInModal!.request.studentTask.task.block.chapter.serialNumber}}/block/{{historyInModal!.request.studentTask.task.block.serialNumber}}/task/{{historyInModal!.request.studentTask.task.serialNumber}}'
                class="h4 a-task-name">
              {{'Задача ' + historyInModal!.request.studentTask.task.block.chapter.serialNumber + '. ' +
              historyInModal!.request.studentTask.task.block.serialNumber + '. ' +
              historyInModal!.request.studentTask.task.serialNumber + '. ' +
              historyInModal!.request.studentTask.task.name}}
            </a>
            <p class="p4" style="color: #646464; margin: 0">{{historyInModal!.timeToPrint}}</p>
          </div>
          <div  *ngIf="historyInModal!.eventType.id == 1">
            <div *ngIf="historyInModal!.request.studentMsg != null">
              <p class="p4" style="margin: 0 0 10px 0;">
                Вы отправили решение на рассмотрение преподавателю ({{historyInModal!.request.teacher.lastname}} {{historyInModal!.request.teacher.name.charAt(0)}}. {{historyInModal!.request.teacher.patronymic.charAt(0)}}.) со следующим комментарием:
              </p>
              <p class="p4" style="font-style: italic;">{{'"' + historyInModal!.request.studentMsg + '"'}}</p>
            </div>
            <div  *ngIf="historyInModal!.request.studentMsg == null">
              <p class="p4" style="margin: 0 0 10px 0;">
                Вы отправили решение на рассмотрение преподавателю ({{historyInModal!.request.teacher.lastname}} {{historyInModal!.request.teacher.name.charAt(0)}}. {{historyInModal!.request.teacher.patronymic.charAt(0)}}.).
              </p>
            </div>
          </div>
          <div *ngIf="historyInModal!.eventType.id == 2">
            <p class="p4" style="margin: 0 0 10px 0;">
              Вы отправили решение на проверку преподавателю ({{historyInModal!.request.teacher.lastname}} {{historyInModal!.request.teacher.name.charAt(0)}}. {{historyInModal!.request.teacher.patronymic.charAt(0)}}.).
            </p>
          </div>
          <div *ngIf="historyInModal!.eventType.id == 3">
            <div *ngIf="historyInModal!.request.teacherMsg != null">
              <p class="p4" style="margin: 0 0 10px 0;">
                Преподаватель ({{historyInModal!.request.teacher.lastname}} {{historyInModal!.request.teacher.name.charAt(0)}}. {{historyInModal!.request.teacher.patronymic.charAt(0)}}.) принял ваше решение со следующим комментарием:
              </p>
              <p class="p4" style="font-style: italic;">{{'"' + historyInModal!.request.teacherMsg + '"'}}</p>
            </div>
            <div  *ngIf="historyInModal!.request.teacherMsg == null">
              <p class="p4" style="margin: 0 0 10px 0;">
                Преподаватель ({{historyInModal!.request.teacher.lastname}} {{historyInModal!.request.teacher.name.charAt(0)}}. {{historyInModal!.request.teacher.patronymic.charAt(0)}}.) принял ваше решение.
              </p>
            </div>
          </div>
          <div  *ngIf="historyInModal!.eventType.id == 4">
            <div *ngIf="historyInModal!.request.teacherMsg != null">
              <p class="p4" style="margin: 0 0 10px 0;">
                Преподаватель ({{historyInModal!.request.teacher.lastname}} {{historyInModal!.request.teacher.name.charAt(0)}}. {{historyInModal!.request.teacher.patronymic.charAt(0)}}.) отклонил ваше решение со следующим комментарием:
              </p>
              <p class="p4" style="font-style: italic;">{{'"' + historyInModal!.request.teacherMsg + '"'}}</p>
            </div>
            <div *ngIf="historyInModal!.request.teacherMsg == null">
              <p class="p4" style="margin: 0 0 10px 0;">
                Преподаватель ({{historyInModal!.request.teacher.lastname}} {{historyInModal!.request.teacher.name.charAt(0)}}. {{historyInModal!.request.teacher.patronymic.charAt(0)}}.) отклонил ваше решение.
              </p>
            </div>
          </div>
          <div *ngIf="historyInModal!.eventType.id == 5 && historyInModal!.request.requestType.name == 'На рассмотрение'" >
            <p class="p4" style="margin: 0 0 10px 0;">
              Вы отменили свой запрос на рассмотрение решения.
            </p>
          </div>
          <div  *ngIf="historyInModal!.eventType.id == 5 && historyInModal!.request.requestType.name == 'На проверку'" >
            <p class="p4" style="margin: 0 0 10px 0;">
              Вы отменили свой запрос на проверку решения.
            </p>
          </div>
        </div>
        <footer style="display: flex; flex-direction: row; justify-content: end; width: 100%;">
          <button class="p5 d-violet-button" (click)="closeModal()">Закрыть</button>
        </footer>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<app-popup *ngIf="showPopup" (onChanged)="onChanged($event)" [info]="popupInfo">
</app-popup>

