<app-header></app-header>
<div class="div-main-body">
  <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
    <img src="../../../../assets/icons/book.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
    <h2 style="var(--c6);">Главы сборника</h2>
    <button *ngIf="user?.role == 'ADMIN'" type="button" class="d-violet-button b-add-box" (click)="createNewChapter()"></button>
  </div>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: start;">
    <div *ngFor="let chapter of chapters" class="d-chapter" (click)="toChapter(chapter.serialNumber)">
      <a routerLink="/chapter/{{chapter.serialNumber}}" class="h3 a-none" style="margin: 15px 0 10px 10px; ">
        Глава {{chapter.serialNumber}}
      </a>
      <ul style="margin: 0; padding-left: 25px">
        <li style="color: var(--c2);">
          <p class="p3" style="color: var(--c2); margin: 15px 0 0 0"> {{chapter.name}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
