<app-header></app-header>
<div style="width: var(--width-main-container); display: flex; flex-direction: column; justify-content: start; margin-top: 20px;">
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: end; margin: 25px 10px 20px 0">
    <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
      <img src="../../../../assets/icons/open_book.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
      <h2 style="color: var(--c6); margin:0">Блок {{serialNumberOfChapter}}. {{serialNumberOfBlock}}</h2>
    </div>
    <app-block-switcher [section]="'theory'" ></app-block-switcher>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: end;  margin: 5px 0 20px 0">
    <h3 style="color: var(--c6); margin: 0">{{block?.name}}</h3>
    <div style="display: flex; justify-content: space-between; min-width: 420px; margin: 0 30px 0 0;">
      <div class="d-white-button to-section">
        <a routerLink="/chapter/{{serialNumberOfChapter}}/block/{{serialNumberOfBlock}}/practice" class="a-img icon-pencil"></a>
        <a routerLink="/chapter/{{serialNumberOfChapter}}/block/{{serialNumberOfBlock}}/practice" class="p4 a-none" style="color: var(--c6); margin: 0">К практике</a>
      </div>
      <div class="d-white-button to-blocks">
        <a routerLink="/chapter/{{serialNumberOfChapter}}" class="a-img icon-book"></a>
        <a routerLink="/chapter/{{serialNumberOfChapter}}" class="p4 a-none" style="color: var(--c6); margin: 0">К списку блоков</a>
      </div>
      <button *ngIf="userService.roleMatch(['ADMIN']) && isEditing === false"
              (click)="this.isEditing = true"
              class="p4 d-violet-button to-editor">
        Редактировать
      </button>
    </div>
  </div>
  <div *ngIf="isEditing === false" id="textTheory" style="padding: 0 30px 0 0;"></div>
  <div *ngIf="isEditing === true" >
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; width: 100%; margin: 15px 0 20px 0">
      <button class="p4 d-violet-button" (click)="save()">Сохранить изменения</button>
      <button class="p4 d-violet-button" (click)="saveAndTurnOffEditing()">Сохранить изменения и выйти из режима редактирования</button>
      <button class="p4 d-violet-button" (click)="turnOffEditing()">Выйти</button>
    </div>
    <editor [init]="editorConfig" id="editor"></editor>
  </div>
</div>
