:host{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon-pencil {
  background: url("../../../../assets/icons/pencil.png") no-repeat;
  background-size: var(--imgXY-theory-pencil);
  width: var(--imgXY-theory-pencil);
  height: var(--imgXY-theory-pencil);
}

.sp-th-g {
  color: var(--c17);
}

.sp-th-b {
  color: var(--c18);
}

.c{
  text-align: justify;
}

.d-violet-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  box-sizing: border-box;
  padding: 10px 15px;
  gap: 10px;
  border: 3px solid var(--c2);
  border-radius: 8px;
  color: var(--c1);
  cursor: pointer;
  background-color: var(--c2);
}

.to-editor{
  width: 150px;
  margin-left: 10px;
}
