<app-header></app-header>
<div style="width: var(--width-main-container); display: flex; flex-direction: column; justify-content: start; margin-top: 20px;">
  <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
    <img src="../../../../assets/icons/students.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
    <h2 style="var(--c6);">Ваши группы</h2>
  </div>
  <div style="display: flex; width: 100%; flex-direction: column; justify-content: space-between;">
    <div>
      <p *ngIf="groupsWithUsersStatInfo.length === 0" class="h3" style="color: var(--c2); margin: 10px 0 0 0;" >
        Вам пока не назначили группы
      </p>
    </div>
    <div *ngFor=" let groupWithUsersStatInfo of groupsWithUsersStatInfo" style="margin-bottom: 25px">
      <app-group-drop-down-list [groupWithUsersStatInfo]="groupWithUsersStatInfo"></app-group-drop-down-list>
    </div>
  </div>
</div>
