:host{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.div-group{
  background-color: var(--c5);
  border-radius: 10px;
  width: 1100px;
  margin-bottom: 25px;
}

.table-header{
  width: 100%;
}

.td-student-number{
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.td-student{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.td-task{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.td-count{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tr-table-row{
  display: flex;
  padding: 15px;
  border-radius: 10px;
}

.bc-clr-light{
  background-color: var(--c1);
}

.bc-clr-dark{
  background-color: var(--c5);
}
