<h1 class="header">Регистрация</h1>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-registration">

  <h5 *ngIf="(name.errors?.['required'] ||
            lastname.errors?.['required'] ||
            patronymic.errors?.['required'] ||
            username.errors?.['required'] ||
            password.errors?.['required'] ||
            confirmPassword.errors?.['required']) &&
            hasBeenSubmitted" class="error">
    Заполните все обязательные поля, помеченные красным</h5>
  <h5 *ngIf="username.errors?.['email'] && hasBeenSubmitted" class="error">
    Поле 'Электронная почта' заполнено неверно</h5>
  <h5 *ngIf="!isPasswordsMatch() && hasBeenSubmitted" class="error">
    Пароли не совпадают</h5>
  <h5 *ngIf="isRepeatedUsername" class="error">
    Пользователь с такой электронной почтой уже существует</h5>

  <input type="text" formControlName="name" id="name" placeholder="Имя" class="input-params p4 required-input">
  <input type="text" formControlName="lastname" id="lastname" placeholder="Фамилия" required class="input-params p4 required-input">
  <input type="text" formControlName="patronymic" id="patronymic" placeholder="Отчество" required class="input-params p4 required-input">
  <input type="text" nodel formControlName="username" id="username" placeholder="Электронная почта" required class="input-params p4 required-input">
  <select formControlName="group" id="group" class="input-params p4 select">
    <option [ngValue]="null">Без группы</option>
    <option [ngValue]="group" *ngFor="let group of groups">{{group.name}}</option>
  </select>
  <input type="password" formControlName="password" id="password" placeholder="Пароль" required class="input-params p4 required-input">
  <input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="Подтверждение пароля" required class="input-params p4 required-input">

  <input type="submit" value="Создать аккаунт" class="i-submit h5">

  <div class="d-row" style="margin: 20px 0 0 0">
    <p class="p4" style="margin: 0">Уже есть аккаунт?&nbsp;</p>
    <a routerLink="/login" class="p4" style="margin: 0; text-decoration: revert;">Войти в аккаунт</a>
  </div>
  <app-to-home></app-to-home>
</form>
