:host{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.b-close{
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background: url("../../../../assets/icons/close.png") no-repeat center;
  background-size: 15px;
}

.header-modal{
  display: flex;
  justify-content: end;
}

.b-edit{
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background: url("../../../../assets/icons/edit.png") no-repeat center;
  background-size: 5px;
  margin-left: 15px;
}

