<app-header></app-header>
<div class="div-main-body">
  <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
    <img src="../../../../assets/icons/students.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
    <h2 style="var(--c6);">Все группы</h2>
  </div>
  <div style="display:flex; flex-direction: row; justify-content: space-between; width: 100%">
    <div style="display: flex; flex-direction: column; width: 265px; align-items: center; margin-left: 20px;">
      <div class="filter">
        <p class="h4" style="color: var(--c2); text-align: center; margin: 0">Фильтр</p>

        <p class="h5" style="color: var(--c6);  margin: 15px 0 0 10px">Ступень образования</p>
        <app-checkbox-group [options]="levelOfEduOptions" (change)="onChangeFilter($event)"></app-checkbox-group>

        <p class="h5" style="color: var(--c6);  margin: 15px 0 0 10px">Направление</p>
        <app-checkbox-group [options]="facultyOptions" (change)="onChangeFilter($event)"></app-checkbox-group>

        <p class="h5" style="color: var(--c6);  margin: 15px 0 0 10px">Профиль</p>
        <app-checkbox-group [options]="profileOptions" (change)="onChangeFilter($event)"></app-checkbox-group>

        <p class="h5" style="color: var(--c6); margin: 15px 0 0 10px">Год</p>
        <app-checkbox-group [options]="yearOptions" (change)="onChangeFilter($event)"></app-checkbox-group>

        <p class="h5" style="color: var(--c6);  margin: 15px 0 0 10px">Преподаватель</p>
        <app-checkbox-group [options]="teacherOptions" (change)="onChangeFilter($event)"></app-checkbox-group>

      </div>
      <button (click)="createNewGroup()"
              class="h5 d-violet-button" style="width: 100%; margin: 25px 0 25px 0;">
        Создать новую группу
      </button>
    </div>
    <div style="display: flex; flex-direction: column; width: 965px">
      <app-students-without-group-drop-down-list
        [studentsWithoutGroupWithStatInfo]="studentsWithoutGroupWithStatInfo"
        [admin]="admin">
      </app-students-without-group-drop-down-list>
      <div *ngFor=" let groupWithUsersStatInfo of groupsWithUsersStatInfo"
           style="display: flex; flex-direction: row; align-items: center; margin-bottom: 25px;">
        <app-group-drop-down-list [groupWithUsersStatInfo]="groupWithUsersStatInfo" [isAdmin]="true">
        </app-group-drop-down-list>
        <button class="b-edit" (click)="openModalEditGroup(groupWithUsersStatInfo.group!)"></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModalEditGroup" class="fixed-overlay">
  <div class="modal" style="width: 50%">
    <div class="modal_container" style="padding: 20px">
      <header class="header-modal">
        <button class="b-close" (click)="this.showModalEditGroup=false"></button>
      </header>
      <section style="margin: 15px 0 0 0; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h3 style="margin: 0 0 10px 0;">{{'Группа ' + groupSelectedForEditing?.name + ' (' + groupSelectedForEditing?.year?.name + ')'}}</h3>
        <button class="h5 d-white-button" style="width: 400px; margin: 7px 0 7px 0" (click)="editGroup()">
          Изменить название или преподавателя
        </button>
        <button class="h5 d-white-button" style="width: 400px; margin: 7px 0 7px 0" (click)="changeGroupMembers()">
          Добавить или удалить студентов
        </button>
        <button *ngIf="hasGroupSelectedForEditingStudents" class="h5 d-white-button" style="width: 400px; margin: 7px 0 7px 0" (click)="this.showModalEditGroup= false; this.showModalDisbandGroup = true;">
          Расформировать группу
        </button>
        <button class="h5 d-white-button" style="width: 400px; margin: 7px 0 7px 0" (click)="this.showModalEditGroup= false; this.showModalDeleteGroup = true;">
          Удалить группу
        </button>
      </section>
    </div>
  </div>
</div>

<div *ngIf="showModalDisbandGroup" class="fixed-overlay">
  <div class="modal" style="width: 50%">
    <div class="modal_container">
      <header>
        <h4 style="margin: 0">Вы хотите расформировать группу {{groupSelectedForEditing?.name}} ({{groupSelectedForEditing?.year?.name}})?</h4>
      </header>
      <section  style="margin: 15px 0 15px 0">
        <p class="p4" style="text-align: justify">
          Расформировав группу, вы удалите из неё всех студентов. Для этих студентов преподавателем станет администратор.
        </p>
      </section>
      <footer style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px">
        <button class="p4 d-white-button" (click)="disbandGroup()">Расформировать</button>
        <button class="p4 d-violet-button" (click)="this.showModalDisbandGroup = false; this.showModalEditGroup= true;">Отменить</button>
      </footer>
    </div>
  </div>
</div>

<div *ngIf="showModalDeleteGroup" class="fixed-overlay">
  <div class="modal" style="width: 50%">
    <div class="modal_container">
      <header>
        <h4 style="margin: 0">Вы хотите удалить группу {{groupSelectedForEditing?.name}} ({{groupSelectedForEditing?.year?.name}})?</h4>
      </header>
      <section  style="margin: 15px 0 15px 0">
        <p class="p4" style="text-align: justify">
          После удаления группы в качестве преподавателя студентам будет назначен администратор.
        </p>
      </section>
      <footer style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px">
        <button class="p4 d-white-button" (click)="deleteGroup()">Удалить</button>
        <button class="p4 d-violet-button" (click)="this.showModalDeleteGroup = false; this.showModalEditGroup= true;">Отменить</button>
      </footer>
    </div>
  </div>
</div>
<app-footer></app-footer>

<app-popup *ngIf="showPopup" (onChanged)="onChanged($event)" [info]="popupInfo">
</app-popup>
