:host{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.b-edit{
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background: url("../../../../assets/icons/edit.png") no-repeat center;
  background-size: 5px;
  margin-left: 15px;
}

