<div>
  <div>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text"
             ngModel
             name="username"
             id="username"
             placeholder="Enter your username"
      >
      <br/>

      <input type="password"
             ngModel
             name="password"
             id="password"
             placeholder="Enter your password"
      >

      <br/>

      {{errorMessage}}

      <br/>

      <input type="submit"
             value="Login">
    </form>
  </div>
</div>
