<app-header></app-header>
<div class="div-main-body">
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: end; margin: 25px 10px 20px 0">
    <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
      <img src="../../../../assets/icons/pencil.png" style="margin: 0 10px 5px 0;" height="30px" width="auto">
      <h2 style="color: var(--c6); margin:0">Задача {{serialNumberOfChapter}}. {{serialNumberOfBlock}}. {{task?.serialNumber}}</h2>
    </div>
    <app-task-switcher [forUser]="false"></app-task-switcher>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: end;  margin: 5px 0 20px 0">
    <h3 style="color: var(--c6); margin: 0">{{task?.name}}</h3>
    <div style="display: flex; justify-content: space-between; min-width: 420px; margin-right: 30px;">
      <div class="d-white-button to-section">
        <a routerLink="/chapter/{{serialNumberOfChapter}}/block/{{serialNumberOfBlock}}/theory" class="a-img icon-open-book"></a>
        <a routerLink="/chapter/{{serialNumberOfChapter}}/block/{{serialNumberOfBlock}}/theory" class="p4 a-none" style="color: var(--c6); margin: 0">К теории</a>
      </div>
      <div class="d-white-button to-blocks">
        <a routerLink="/chapter/{{serialNumberOfChapter}}/block/{{serialNumberOfBlock}}/practice" class="a-img icon-book"></a>
        <a routerLink="/chapter/{{serialNumberOfChapter}}/block/{{serialNumberOfBlock}}/practice" class="p4 a-none" style="color: var(--c6); margin: 0">К списку задач</a>
      </div>
      <button *ngIf="userService.roleMatch(['ADMIN']) && isEditingDescriptionByAdmin === false"
              (click)="this.isEditingDescriptionByAdmin = true"
              class="p4 d-violet-button to-editor">
        Редактировать
      </button>
    </div>
  </div>
  <div *ngIf="isEditingDescriptionByAdmin === false" style="display: flex; flex-direction: row; justify-content: space-between; margin-right: 38px;">
    <div style="display: flex; flex-direction: column; margin-bottom: 30px">
      <div id="description" style="padding: 0 30px 0 0;"></div>

      <div *ngIf="!authService.isLoggedIn()" style="display:flex; flex-direction: row; margin: 20px 0 0 0">
        <p class="p4" style="color: var(--c6); margin: 0">Для того, чтобы отправить решение на проверку, необходимо&nbsp;</p>
        <a routerLink="/login" class="p4" style="margin: 0; text-decoration: revert; color: var(--c2)">войти в систему</a>
      </div>

      <div *ngIf="responseAboutTestingAllowed?.testingAllowed" style="display:flex; flex-direction: column; padding: 0 30px 0 0;">
        <p class="p4" style="color: var(--c2); margin: 0 0 20px 0">Разместите код каждого класса в отдельном окне</p>

        <div *ngFor="let codeTA of codeTextAreas" style="display: flex; flex-direction: row; align-items: start; justify-content: space-between">
          <textarea class="textarea-code"
                    oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                    id="{{codeTA.id}}"
          >{{codeTA.content}}</textarea>
          <div style="display:flex; flex-direction: column">
            <button id="more{{codeTA.id}}" class="b-violet-cycle b-more" (click)="more(codeTA.id)"></button>
            <button id="less{{codeTA.id}}" style="display: none" class="b-violet-cycle b-less" (click)="less(codeTA.id)"></button>
            <button class="b-violet-cycle b-delete" (click)="removeTextArea(codeTA.id)"></button>
          </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 15px; width: 995px">
          <button class="h5 d-white-button" style="width: 300px" (click)="addEmptyTextAreaForCode()">+ Новое окно</button>
          <button *ngIf="codeTextAreas.length>0" class="h5 d-violet-button" style="width: 300px" (click)="saveCodeAndTesting()">Сохранить код и проверить</button>
        </div>

        <div *ngIf="status?.name === 'Не прошла тесты'"
             style="display: flex; flex-direction: row; justify-content: space-between; align-items: start; margin: 30px 0 0 0; width: 995px">
          <div>
            <div class="bc-clr-returned-not-passed-tests d-result">
              <p class="p4" style="color: var(--c6); margin: 0">
                Тестирование завершилось неудачей
              </p>
            </div>
            <p class="p4" style="color: var(--c6); margin: 10px 0 0 0">
              Код вашего решения был сохранён
            </p>
          </div>
          <p class="p4" style="color: var(--c2); margin: 0; cursor: pointer" (click)="openModalDialogAboutConsideration()">
            Не согласны с результатами тестирования?
          </p>
        </div>

        <div *ngIf="status?.name === 'Прошла тесты'"
             style="display: flex; flex-direction: row; justify-content: space-between; align-items: start; margin: 30px 0 0 0; width: 995px">
          <div>
            <div class="bc-clr-passed-tests d-result">
              <p class="p4" style="color: var(--c6); margin: 0">
                Тестирование завершилось успешно
              </p>
            </div>
            <p class="p4" style="color: var(--c6); margin: 10px 0 0 0">
              Код вашего решения был сохранён
            </p>
          </div>
          <button class="p4 d-to-review-button" (click)="openModalDialogAboutReview()">
            Сохранить код и отправить на проверку
          </button>
        </div>

        <div *ngIf="status?.name === 'Решена' && task?.manualCheckRequired === false"
             style="display: flex; flex-direction: row; justify-content: space-between; align-items: start; margin: 30px 0 0 0; width: 995px">
          <div>
            <div class="bc-clr-solved d-result">
              <p class="p3" style="color: var(--c6); margin: 0">
                Тестирование завершилось успешно
              </p>
            </div>
            <p class="p4" style="color: var(--c6); margin: 10px 0 0 0">
              Код вашего решения был сохранён
            </p>
          </div>
        </div>

        <div *ngIf="status?.name === 'Решена' && task?.manualCheckRequired != false"
             style="display: flex; flex-direction: row; justify-content: space-between; align-items: start; margin: 30px 0 0 0; width: 995px">
          <div>
            <div class="bc-clr-solved d-result">
              <p class="p4" style="color: var(--c6); margin: 0">
                Преподаватель принял ваше решение
              </p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="responseAboutTestingAllowed?.reasonOfProhibition != null &&
                  responseAboutTestingAllowed?.reasonOfProhibition?.toString() === 'PREVIOUS_TASK_NOT_SOLVED'"
           style="display:flex; flex-direction: column; padding: 0 30px 0 0;">
        <p class="p4" style="color: var(--c12); margin: 0 0 20px 0">Вы не можете тестировать решения данной задачи, пока не решите предыдущую.</p>
      </div>

      <div *ngIf="responseAboutTestingAllowed?.reasonOfProhibition != null &&
                  responseAboutTestingAllowed?.reasonOfProhibition?.toString() != 'PREVIOUS_TASK_NOT_SOLVED'"
           style="display:flex; flex-direction: column; padding: 0 30px 0 0;">


        <div *ngIf="responseAboutTestingAllowed?.reasonOfProhibition?.toString() === 'TASK_ON_TEACHER_REVIEW'">
          <p class="p4" style="color: var(--c6); margin: 20px 0 5px 0">
            Вы отправили решение задачи на проверку. Редактирование решения и функция тестирования станут вновь доступны после ответа преподавателя.
          </p>
          <div  style="display:flex; flex-direction: row; margin: 0">
            <p class="p4" style="color: var(--c6); margin: 10px 0 20px 0">Вы можете&nbsp;</p>
            <p class="p4" style="margin: 10px 0 20px 0; text-decoration: revert; color: var(--c2); cursor: pointer" (click)="openModalDialogAboutCancelReview()">
              отменить запрос на проверку задачи.
            </p>
          </div>
        </div>

        <div *ngIf="responseAboutTestingAllowed?.reasonOfProhibition?.toString() === 'TASK_ON_TEACHER_CONSIDERATION'">
          <p class="p4" style="color: var(--c6); margin: 20px 0 5px 0">
            Вы отправили решение задачи на рассмотрение. Редактирование решения и функция тестирования станут вновь доступны после ответа преподавателя.
          </p>
          <div  style="display:flex; flex-direction: row; margin: 0">
            <p class="p4" style="color: var(--c6); margin: 10px 0 20px 0">Вы можете&nbsp;</p>
            <p class="p4" style="margin: 10px 0 20px 0; text-decoration: revert; color: var(--c2); cursor: pointer" (click)="openModalDialogAboutCancelConsideration()">
              отменить запрос на рассмотрение решения задачи.
            </p>
          </div>
        </div>

        <div *ngIf="responseAboutTestingAllowed?.reasonOfProhibition?.toString() === 'TASK_ON_TESTING'">
          <p class="p4" style="color: var(--c6); margin: 20px 0 5px 0">
            Вы отправили решение задачи на тестирование. Редактирование решения и функция тестирования станут вновь доступны после его завершения.
          </p>
        </div>

        <div *ngFor="let codeTA of codeTextAreas" style="display: flex; flex-direction: row; align-items: start; justify-content: space-between">
          <textarea class="textarea-code"
                    oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                    id="{{codeTA.id}}"
                    readonly
          >{{codeTA.content}}</textarea>
          <div style="display:flex; flex-direction: column">
            <button id="more{{codeTA.id}}" class="b-violet-cycle b-more" (click)="more(codeTA.id)"></button>
            <button id="less{{codeTA.id}}" style="display: none" class="b-violet-cycle b-less" (click)="less(codeTA.id)"></button>
          </div>
        </div>
      </div>
    </div>

    <div style="display: flex; flex-direction: column;  width: 170px; max-width: 170px; margin: 16px 0 0 0;">
      <div *ngIf="authService.isLoggedIn()" class="d-status"
           [ngClass]="{
         'bc-clr-default' : status?.name === 'Не решена' || status === null,
         'bc-clr-returned-not-passed-tests' : status?.name === 'Не прошла тесты' || status?.name === 'Возвращена преподавателем',
         'bc-clr-consideration' : status?.name === 'На рассмотрении',
         'bc-clr-review' : status?.name === 'На проверке',
         'bc-clr-solved' : status?.name === 'Решена',
         'bc-clr-passed-tests' : status?.name === 'Прошла тесты',
         'bc-clr-on-testing' : status?.name === 'На тестировании'
         }">
        <p class="p4" style="margin: 0; text-align: center;">{{status?.name}}</p>
      </div>

      <div *ngIf="task?.previousTasks?.length === 0" class="d-previous-tasks">
        <p class="p4" style="margin: 0; text-align: center">Задача не требует решения других задач</p>
      </div>

      <div *ngIf="task?.previousTasks?.length != 0"
           class="d-previous-tasks">
        <p class="p4" style="margin: 0; text-align: center">Предыдущие задачи</p>
        <a *ngFor="let prevTask of task?.previousTasks"
           style="text-decoration: revert; color: var(--c2); text-align: center;"
           routerLink="/chapter/{{prevTask.previousTask.block.chapter.serialNumber}}/block/{{prevTask.previousTask.block.serialNumber}}/task/{{prevTask.previousTask.serialNumber}}">
          {{prevTask.previousTask.name}}
        </a>
      </div>

      <div class="d-check present-check" *ngIf="task?.manualCheckRequired == true">
        <p  class="p4" style="margin: 0; text-align: center">
          Задача требует подтверждения решения преподавателем
        </p>
      </div>
      <div class="d-check none-check" *ngIf="task?.manualCheckRequired == false">
        <p class="p4" style="margin: 0; text-align: center">
          Задача не требует подтверждения решения преподавателем
        </p>
      </div>

      <div *ngIf="currUser?.role == 'ADMIN'" class="d-check">
        <mat-slide-toggle [(ngModel)]="task!.manualCheckRequired"
                          (change)="changeManualCheck()"
                          class="p4"
                          style="text-align: center">
          Проверка кода преподавателем
        </mat-slide-toggle>
      </div>
    </div>
  </div>

  <div *ngIf="isEditingDescriptionByAdmin === true" >
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; width: 100%; margin: 15px 0 20px 0">
      <button class="p4 d-violet-button" (click)="saveNewDescription()">Сохранить изменения</button>
      <button class="p4 d-violet-button" (click)="saveAndTurnOffEditing()">Сохранить изменения и выйти из режима редактирования</button>
      <button class="p4 d-violet-button" (click)="turnOffEditing()">Выйти</button>
    </div>
    <editor [init]="editorConfig" id="editorTask"></editor>
  </div>

  <div *ngIf="showModalOnReview" class="fixed-overlay">
    <div class="modal">
      <div class="modal_container">
        <header>
          <h3 style="margin: 0">Вы хотите отправить решение на проверку преподавателю?</h3>
        </header>
        <section  style="margin: 15px 0 15px 0">
          <p class="p4" style="text-align: justify">После того, как вы отправите своё решение на проверку предодавателю, вы не сможете его изменять и тестировать.
            У вас будет возможность отменить запрос до того, как преподаватель обработает его.</p>
        </section>
        <footer style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px">
          <button class="p4 d-white-button" (click)="saveCodeAndSendOnReview()">Сохранить код и отправить на проверку</button>
          <button class="p4 d-violet-button" (click)="closeModalOnReview()">Не отправлять</button>
        </footer>
      </div>
    </div>
  </div>

  <div *ngIf="showModalOnConsideration" class="fixed-overlay">
    <div class="modal">
      <div class="modal_container">
        <header>
          <h3 style="margin: 0">Вы хотите отправить решение на рассмотрение преподавателю?</h3>
        </header>
        <section  style="margin: 15px 0 15px 0">
          <p class="p4" style="text-align: justify">Если вы не согласны с результатами тестирования вашего решения, то вы можете оспорить их.
            Опишите вашу точку зрения в поле ниже. После отправки вашего запроса преподавателю статус задачи будет изменён на “На рассмотрении”.
            Функция тестирования для данной задачи будет заблокирована до ответа преподавателя.
            У вас будет возможность отменить запрос до того, как преподаватель обработает его.</p>
        </section>
        <textarea id="#messageToConsideration" class="textarea-message"></textarea>
        <footer style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px">
          <button class="p4 d-white-button" (click)="saveCodeAndSendOnConsideration()">Сохранить код и отправить на рассмотрение</button>
          <button class="p4 d-violet-button" (click)="closeModalOnConsideration()">Не отправлять</button>
        </footer>
      </div>
    </div>
  </div>

  <div *ngIf="showModalOnCancelReview" class="fixed-overlay">
    <div class="modal">
      <div class="modal_container">
        <header>
          <h3 style="margin: 0">Вы хотите отменить запрос на проверку вашего решения?</h3>
        </header>
        <section  style="margin: 15px 0 15px 0">
          <p class="p4" style="text-align: justify">
            Вы можете отменить запрос на проверку вашего решения. В этом случае вы снова сможете редактировать ваш код и тестировать его.
          </p>
        </section>
        <footer style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px">
          <button class="p4 d-white-button" (click)="cancelReview()">Отменить запрос на проверку</button>
          <button class="p4 d-violet-button" (click)="closeModalOnCancelReview()">Не отменять</button>
        </footer>
      </div>
    </div>
  </div>

  <div *ngIf="showModalOnCancelConsideration" class="fixed-overlay">
    <div class="modal">
      <div class="modal_container">
        <header>
          <h3 style="margin: 0">Вы хотите отменить запрос на рассмотрение вашего решения?</h3>
        </header>
        <section  style="margin: 15px 0 15px 0">
          <p class="p4" style="text-align: justify">
            Вы можете отменить запрос на рассмотрениие вашего решения. В этом случае вы снова сможете редактировать ваш код и тестировать его.
          </p>
        </section>
        <footer style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px">
          <button class="p4 d-white-button" (click)="cancelConsideration()">Отменить запрос на рассмотрение</button>
          <button class="p4 d-violet-button" (click)="closeModalOnCancelConsideration()">Не отменять</button>
        </footer>
      </div>
    </div>
  </div>

  <div *ngIf="showModalTestsPassedSuccessfully" class="fixed-overlay">
    <div class="modal" style="width: 40%">
      <div class="modal_container"
           style="display: flex; align-items: center; justify-content: center; flex-direction: column; ">
        <div class="bc-clr-passed-tests d-result" style="align-items: center">
          <p class="p4" style="color: var(--c6); margin: 0">
            Тестирование завершилось успешно
          </p>
        </div>
        <footer style="display: flex; flex-direction: row; justify-content: center; margin-top: 20px">
          <button class="p4 d-violet-button" (click)="closeModalTestsPassedSuccessfully()">ОК</button>
        </footer>
      </div>
    </div>
  </div>

  <div *ngIf="showModalTestsPassedUnsuccessfully" class="fixed-overlay">
    <div class="modal" style="width: 40%">
      <div class="modal_container"
           style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <div class="bc-clr-returned-not-passed-tests d-result" style="align-items: center">
          <p class="p4" style="color: var(--c6); margin: 0">
            Тестирование завершилось неудачей
          </p>
        </div>
        <footer style="display: flex; flex-direction: row; justify-content: center; margin-top: 20px">
          <button class="p5 d-violet-button" (click)="closeModalTestsPassedUnsuccessfully()">ОК</button>
        </footer>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
