:host{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon-open-book {
  background: url("../../../../assets/icons/open_book.png") no-repeat;
  background-size: var(--imgXY-theory-pencil);
  width: var(--imgXY-theory-pencil);
  height: var(--imgXY-theory-pencil);
}

.d-status{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  gap: 17px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.d-previous-tasks{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  gap: 8px;
  border-radius: 8px;
  background: var(--c5);
}

.d-check{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  gap: 17px;
  border-radius: 8px;
  margin-top: 15px;
}

.present-check{
  background: var(--c11);
}

.none-check{
  background: var(--c5);
}

.textarea-code{
  min-height: 250px;
  margin: 0 0 20px 0;
  border: 3px solid var(--c2);
  border-radius: 8px;
  color: var(--c6);
  cursor: pointer;
  background-color: var(--c1);
  width: 985px;
  max-width: 985px;
}

.b-violet-cycle{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  margin-left: 5px;
}

.b-delete{
  background: var(--c2) url("../../../../assets/icons/delete.png") no-repeat center;
  background-size: 30px;
  margin: 10px 0 0 5px;
}


.b-more{
  background: var(--c2) url("../../../../assets/icons/more.png") no-repeat center;
  background-size: 30px;

}

.b-less{
  background: var(--c2) url("../../../../assets/icons/less.png") no-repeat center;
  background-size: 30px;
  margin-left: 5px;
}


textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--c14);
  outline: 1px solid rgba(255, 255, 255, 0);
}

.d-result{
  margin: 0 0 5px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  width: fit-content;
  border-radius: 8px;
}

.d-to-review-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--c11);
  cursor: pointer;
  color: var(--c6);
  width: fit-content;
}


* {
  box-sizing: border-box;
}

.fixed-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;

}

.modal_container {
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
}

.textarea-message{
  min-height: 160px;
  margin: 0 0 20px 0;
  border: 3px solid var(--c2);
  border-radius: 8px;
  color: var(--c6);
  cursor: pointer;
  background-color: var(--c1);
  width: 100%;
  max-width: 100%;
}
