:host{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon-open-book {
  background: url("../../../../assets/icons/open_book.png") no-repeat;
  background-size: var(--imgXY-theory-pencil);
  width: var(--imgXY-theory-pencil);
  height: var(--imgXY-theory-pencil);
}

.d-status{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  gap: 17px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.d-previous-tasks{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  gap: 8px;
  border-radius: 8px;
  background: var(--c5);
}

.d-check{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  gap: 17px;
  border-radius: 8px;
  margin-top: 15px;
}

.present-check{
  background: var(--c11);
}

.none-check{
  background: var(--c5);
}

.d-to-review-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--c11);
  cursor: pointer;
  color: var(--c6);
  width: fit-content;
}

.textarea-message{
  font-family: 'Inter';
  font-style: normal;
  min-height: 160px;
  margin: 0 0 20px 0;
  border: 3px solid var(--c2);
  border-radius: 8px;
  color: var(--c6);
  cursor: pointer;
  background-color: var(--c1);
  width: 95%;
  max-width: 95%;
  padding: 10px 15px;
}
